#form-field{
    text-align: center;
}

#input-field:hover{
    border-radius: 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form-control{
    border-radius: 100px;
}

#input-field{
    display: flex;
    flex: 100%;
    margin-top: 5%;
}

#btn{
    background-color: #f8f9fa;
}

.button{
    background: #010101;
    border-radius: 100px;
    font-style: normal;
    font-family: Karla;
    font-weight: regular;
    border: solid;
    color: #f8f9fa;
    width: 180px;
    height: 40px;
}